<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :street_address %>
    <%= f.input :extended_address %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.input :postal_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
